/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html {
    background-color: #faf9f5;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

header {
    min-height: 100px;
    padding-top: 15px;
    color: #0f2144;
}
.bestBuy {
    padding-left: 40px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #0f2144;
    font-size:large;
}
.search {
    margin-right: 40px;
    float: right;
    
}
body {
    margin: 0;
}

.navbar-nav {
    min-width: 100%;
    border-top: 1px solid #0f2144;
    border-bottom: 1px solid #0f2144;
    list-style-type: none;
    padding: 10px 0;
    margin: 10px 0;
    box-shadow: 0px 5px 40px rgba(15,33,68, 0.5);
}
li {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}
.link {
    font-family: Arial, sans-serif;
    
    text-decoration: none;
    font-weight: 600;
    color: #0f2144;
}
.text-center {
    text-align: center;
}
.container {
    text-align: center;
    padding: 0px;
}
.welcome {
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #0f2144;
}
.productCon {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #0f2144;
    text-justify: inherit;
}
.learn {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #0f2144;
}
footer {
    text-decoration: none;
    font-size: small;
    color: #0f2144;
    font-family: Arial, sans-serif;
    border-top: 1px solid #0f2144;
    border-bottom: 1px solid #0f2144;
    margin-top: 660px;
    padding-top: 20px;
    padding-bottom: 15px;
    position: sticky;
    box-shadow: 0px 5px 40px rgba(15,33,68, 0.5);
}