@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome">Welcome </h1> 
    <h2 class="productCon">
        Best Buy <br> 
        <strong>Product Controller</strong>
    </h2>
    <p class="learn">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
