<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Testing</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a class="bestBuy" href="https://www.bestbuy.com/?ref=212&loc=63907719&gad_source=1&gclid=EAIaIQobChMIvsLxqe3vhQMVHJjCCB2zIQa7EAAYASAAEgK5FvD_BwE&gclsrc=aw.ds">Best Buy</a>
        
        <nav class="navbar">
           
                
                
                
                    <ul class="navbar-nav">
                        <li>
                            <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="link" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                      
                            <input class="search" type="text" placeholder="Search..">
                        
                    </ul>
            

        </nav>
    </header>
    <div class="container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2020 - Testing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
